.caja {
    position: relative;
    display: inline-block;
}

.logo {
    position: absolute;
    top: 2%;
    left: 1%;
    color: white;
}

.nombre {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 15%;
    right: 5%;
}
.caja img {
    width: 300px;
}
.caja p {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    font-size: 11px;
}
#facebook{
    position: absolute;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, .12);
    background-color: #f5f6f7;
    bottom: 15%;
    left: 5%;
}