:root {
    --blanco: #f8f9fc;
    --grisClarito: #c2c9d6;
    --grisOscuro: #1E1F1F;
    --negro: #111213;

}

* {
    list-style: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}

.bg-header {
    background-color: white;
    color: var(--negro);
}

div p a i {
    color: var(--blanco);
    text-decoration: none;
}

.section {
    margin-top: 2%;
}

.section .card {
    margin-bottom: 5%;
}

.oculto {
    display: none;
}

.block {
    padding: 5%;
    background-color: black
}

.background {
    background-color: black
}

#logo {
    margin-left: 0;
}

#lista {
    align-items: center;
}

.nav_right>ul {
    display: flex;
    align-items: center;
}

.nav_right ul li.nr_li {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.nr_li a {
    border: 1px solid transparent;
    padding: 7px;
    align-items: center;
    background: none;
    font-size: 25px;
}

.nr_li a:hover {
    color: var(--grisClarito);
}

.letra-clara {
    color: rgb(255, 255, 255);
}

#footer {
    background-color: var(--grisOscuro);
    padding-top: 3%;
    padding-bottom: 2%;
}

#footer div div {
    margin-bottom: 2%;
}

#cardRegistro {
    padding-top: 0 !important;
    margin-top: 5%;
}

#descripcionProducto {
    background-color: #F7F7F7;
    border: 2px #CCCCCC solid;
    height: 350px;
}

#vistaAvanzada {
    margin-top: 8%;
}

.carrito {
    padding-top: 10%;
}

#subtotalCarrito {
    color: rgb(92, 90, 90);
}

#totalCarrito {
    font-size: 18px;
}

.infoCard {
    border-bottom: 1px solid grey;
}


/* .dropdown-container:hover ul {
                                    LA CLASE HOVER NO ESTA PARA DISPOSITIVOS MOVILES POR ESO ABAJO CREO UNA CLASE SHOW
    max-height: 400px;
} */


#panelContenido {
    border: 2px solid red;
    display:none;
}

@media (max-width: 1200px) {

    #vistaAvanzada {
        margin-top: 9%;
    }
}

@media (max-width: 1100px) {

    #vistaAvanzada {
        margin-top: 10%;
    }
}

@media (max-width: 992px) {

    #lista {
        align-items: flex-start !important;
    }
}

@media (max-width: 950px) {

    #vistaAvanzada {
        margin-top: 12%;
    }
}

@media (max-width: 850px) {

    #vistaAvanzada {
        margin-top: 14%;
    }
}


@media (max-width: 470px) {
    #logo a img {
        width: 220px;
    }

}