:root {
    --blanco: #f8f9fc;
    --grisClarito: #c2c9d6;
    --grisOscuro: #1E1F1F;
    --negro: #111213;

}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}

.bg-header {
    background-color: white;
    color: var(--negro);
}

div p a i {
    color: var(--blanco);
    text-decoration: none;
}

.section {
    margin-top: 2%;
}

.section .card {
    margin-bottom: 5%;
}

.oculto {
    display: none;
}

.block {
    padding: 5%;
    background-color: black
}

.background {
    background-color: black
}

#logo {
    margin-left: 0;
}
#lista {
    align-items: center;
}

#footer {
    background-color: var(--grisOscuro);
    padding-top: 3%;
    padding-bottom: 2%;
}

#footer div div {
    margin-bottom: 2%;
}

#cardRegistro {
    padding-top: 0 !important;
}

#descripcionProducto {
    background-color: #F7F7F7;
    border: 2px #CCCCCC solid;
    height: 350px;
}

.carrito {
    padding-top: 10%;
}

#subtotalCarrito {
    color: rgb(92, 90, 90);
}

#totalCarrito {
    font-size: 18px;
}

.infoCard {
    border-bottom: 1px solid grey;
}

.dropdown-container {
    position: relative;
}

.dropdown-container ul {
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
    list-style-type: none;
}

.dropdown-container:hover ul { /*LA CLASE HOVER NO ESTA PARA DISPOSITIVOS MOVILES POR ESO ABAJO CREO UNA CLASE SHOW*/
    max-height: 400px;
}

.dropdown-container ul.show {
    max-height: 400px;
}
@media (max-width: 992px) { /*DESCOMENTAR SI SE AGRANDA EL CARRITO*/
    #lista {
        align-items: flex-start !important;
    }
}    
@media (max-width: 470px) {
    #logo a img {
        width: 220px;
    }

}